{% include base_path %}

{% if post.header.teaser %}
{% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
{% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
{% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
{% assign title = post.title %}
{% endif %}


<div class="{{ include.type | default: " list" }}__item">

  <div class="list__item">
    <div class="left">
      <!-- 框架图 -->
      {% if post.banner %}

      <img src="{{ post.arch }}" class="left" style="height: 70%;">
      <!-- Banner图 -->
      <img src="{{ post.banner }}" class="left" style="height: 30%;">
      {% else %}
      <img src="{{ post.arch }}" class="left">
      {% endif %}
    </div>

    <div class="right">
      <b>{{ post.title }}</b>
      <br> <text class="small-text"> {{ post.authors }}</text>
      <br> <text class="small-text"> {{ post.pubinfo }} </text>
      <br> <text class="small-text"> Rank: <text style="color: red;"> {{ post.rank }} </text>
        {% if post.pdf %} <a href="{{ post.pdf }}" style="color: blue;">[PDF]</a> {% else %} <a href="#"
          style="color: gray; pointer-events: none; cursor: default;">[PDF]</a> {% endif %}
        {% if post.code %} <a href="{{ post.code }}" style="color: blue;">[CODE]</a> {% else %} <a href="#"
          style="color: gray; pointer-events: none; cursor: default;">[CODE]</a> {% endif %} </text>
    </div>
  </div>

</div>